<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.3.1.min.js}"></script>
</head>
<style>
    li {
        list-style: none;
        float: left;
    }
    .user_status_btn{
        background: transparent;
        color: lightblue;
        border: none;
    }
    .ci-1{
        padding-left: 20px;
    }
    .ci-2{
        padding-left: 40px;
    }
    .ci-3{
        padding-left: 60px;
    }
    .ci-4{
        padding-left: 80px;
    }
</style>
<body>
<div class="layout">
    <th:block th:replace="th/layout/navbar::navFragment"></th:block>

    <th:block layout:fragment="content"></th:block>
</div>
</body>
</html>